html{
    height:100%;
    widht:100%;
}

body{
    height:100%;
    widht:100%;
    background-color: #999999;
}


.navbar {
    width: 120px;
    background: #222;
    text-align: center!important;
    font-size: 12px!important;
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.navbar a:-webkit-any-link {
    font-size: 200px;
}