/**
* paramètres généraux
 */
html{
    margin:0;
    padding:0;
    height:100%;

    /**
    * empêche l'utilisateur de sélectionner avec sa souris
     */
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;

}

body {
    background-color: #e7e6e0;
    background-image:url("background/background_2.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Font", Helvetica, Arial, sans-serif;
}

/**
* main : le contenant principal de la fenêtre (le gros cadre gris)
 */
.main {
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    margin-bottom: 1%;
    padding:1%;
    padding-top: 1%;

    background-color: rgba(236, 235, 226, 0.65);
    border-radius: 25px;
    border-color:azure;
}

.main h1 {
    text-align: center;
}


/**
* nav bar
 */

.navbar {
    margin: 0;
    padding: 0;
    background-color: #333;

}

.navbar > h1 {
    float: left;
    margin: 0;
    padding-left: 1%;
    padding-top: 0.3%;
    color: #DDDDDD;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
}

.navbar li a:hover {
    background-color: #1e1e1e;
}

/**
* Vue Compte
* Body : bodyCompte
 */

.bodyCompte {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: auto;
}

.bodyCompte h1 {
    margin:0%;
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}

.bodyCompte>#main p {
    margin:0%;
    padding: 0%;
    text-align: center;
    color : black;
    font-size: 30px;
}

#informations {
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
    margin-bottom: 1%;
    padding:1%;
    padding-left: 5%;
    padding-top: 1%;

    background-color: #d1d0ca;
    border-radius: 25px;
    border-color:azure;
    height: auto;
}




/**
* Vue Connexion
* Body : bodyConnexion
 */

.bodyConnexion {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.bodyConnexion h1 {
    margin:0%;
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}

.bodyConnexion>.formulaireConnexion , .formulaireInscription {
    margin:0%;
    padding: 1%;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;

    width: 40%;
    height: 15%;

    background-color: #d1d0ca;
    border-radius: 25px;
    border-color:azure;
}

.bodyConnexion>.formulaireConnexion #identifiants , .identifiants {
    display: inline-block;
    margin:0%;
    padding: 0%;
    margin-left: 25%;
    margin-right: auto;

    width: 100px;
    vertical-align: top;
    text-align: right;
}

.bodyConnexion>.formulaireConnexion #buttonValiderConnexion , #buttonValiderInscription {
    margin: 0%;
    padding:0%;
    min-height: 30%;
    min-width: 20% ;
    font-size: large ;
    margin-left:40%;
    margin-right: auto;
}








/**
* Vue CreationListe
* Body : bodyCreationListe
 */


.bodyCreationListe {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;

}

.bodyCreationListe h1 {
    margin:0%;
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}

.bodyCreationListe>.main{
    height:50%;
    padding: 2%;

}


.bodyCreationListe>.main>.formulaire {
    width:100%;
    padding: 0%;
}

.bodyCreationListe>.main label {

    display: inline-block;
    margin:0%;
    margin-right:2%;
    padding: 0%;
    margin-bottom: 5%;

    width: 200px;
    vertical-align: top;
    text-align: right;
}

.bodyCreationListe>.main>.formulaire #descrListe {

    margin:0%;
    margin-bottom: 4%;
    padding:0%;

    min-width:50%;
    min-height:30%;
    max-height:30%;
    max-width:50%;
    font-size:14pt;
}

.bodyCreationListe>.main>.formulaire #expiration {
    margin: 0%;
    margin-bottom: 4%;
    padding: 0%;
}
.bodyCreationListe>.main>.formulaire #buttonValiderCreation {
    margin:0%;
    height: 35px;
    width: 100px ;
    font-size: large;
    margin-left: 40%;
    margin-right: auto;
}






/**
* Vue Inscription
* Body : bodyInscription
 */

.bodyInscription {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.bodyInscription h1 {
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}

.bodyInscription p {
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}


.formulaireInscription{
    margin-top:5%;
    min-height: 30%;
    max-height: 32%;
}


/**
* Vue Liste
* Body : bodyListe
 */

.bodyListe {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.bodyListe h1 {
    margin:0%;
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}

.bodyListe p {
    margin:0%;
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}




/**
* Vue Accueil
* Body : bodyAccueil
 */

.bodyAccueil {
    margin:0%;
    padding: 0%;
    width: 100%;
}

.bodyAccueil p{
    font-size: 25px;
    text-align: left;
}

.bodyAccueil a{
    text-decoration: none;
    background-color: #d1d0ca;
}

a {
    font-size: 20px;
}




/**
* Vue Participant
* Body : bodyParticipant
 */

.item {
    margin-left:17%;
    margin-top: 2%;
    width: 100%;
    border-radius: 25px;
    border-color:azure;
    padding:1%;
    padding-left: 3%;
    clear: both;
    background-color: #d1d0ca;
}

.item div {
    display: inline-block ;
}

.itemReserve {
    background-color: #999999;
}

.item img {
    width: 200px;
}

.listes {
    margin-left:17%;
    margin-top: 2%;
    width: 60%;
    border-radius: 25px;
    border-color:azure;
    padding:3%;
    padding-left: 3%;
    clear: both;
    background-color: #d1d0ca;
}

.divListeMessage {
    margin : 10px ;
}

.divListeMessage p {
    margin : 0 ;
}

.sectionMessage {
    width: 15% ;
    display: inline-block;
    margin : 10px ;
}

.sectionListe {
    vertical-align: top;
    width: 50% ;
    display: inline-block;
}

.sectionSansMessage {
    margin: 0 5%;
    width:65%;
    vertical-align: top;
    display: inline-block;
}

.formulaireMessage {
    margin-top : 20px ;
}

.formulaireMessage div {
    display: inline-block;
    padding: 0 ;
}

.formulaireMessage .nomChamp {
    width: 25% ;
}

.formulaireMessage .valider {
    margin-top: 10px ;
    width: 100% ;
    text-align : center ;
}

/**
* Vue Reservation
* Body : bodyReservation
 */
.bodyReservation {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.bodyReservation h1 {
    margin:0%;
    padding: 0%;
    margin-top: 1%;
    text-align: center;
    color : firebrick;
    font-size: 100px;
}

.bodyReservation>.formulaireReservation {
    margin:0%;
    padding: 1%;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;

    width: 40%;
    height: 15%;

    background-color: #d1d0ca;
    border-radius: 25px;
    border-color:azure;
}

.formulaireReservation div {
    display: inline-block;
    padding: 0 ;
}

.formulaireReservation .nomChamp {
    width: 100px ;
}